*.gem
*.rbc
.bundle
.config
.yardoc
.rails_generators~
gemfiles/vendor
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
.idea/
*.sqlite*
*.log
.byebug_history